//- Login form

mixin login
    form(novalidate).form-horizontal.col-sm-12
        .form-group
            label(for='inputEmail').col-sm-3.control-label Email
            .col-sm-9
                input(type='email' name='username' id='inputEmail' placeholder='Enter your username' v-model='credentials.username').form-control
        .form-group
            label(for='inputPass').col-sm-3.control-label Password
            .col-sm-9
                input(type='password' name='password' id='inputPass' placeholder='Enter your password' v-model='credentials.password').form-control
        //.form-group
        //    .col-sm-offset-2.col-sm-4
        //        .checkbox
        //            label.col-sm-12
        //                .col-sm-12
        //                    input(type='checkbox')
        //                    | Remember me
        .form-group
                button(type='submit' @click.prevent="submit()").col-sm-offset-7.col-sm-4.btn.btn-default Sign in

//- End Login form

//- Signup form

mixin signup
    validator(name='validation1')
        form(novalidate).form-horizontal.col-sm-12
            .form-group
                label(for='firstName').col-sm-3.control-label First Name
                .col-sm-9
                    input(type='text' name='firstName' id='firstName' placeholder='First Name'
                          v-model='credentials.firstName' v-validate:credentials.firstName="['required']").form-control
            .form-group
                label(for='lastName').col-sm-3.control-label Last Name
                .col-sm-9
                    input(type='text' name='lastName' id='lastName' placeholder='Last Name'
                          v-model='credentials.lastName' v-validate:credentials.lastName="['required']").form-control
            .form-group
                label(for='gradeLevel').col-sm-3.control-label Grade Level
                .col-sm-9
                    select(v-model='credentials.gradeLevel' v-validate:credentials.gradeLevel="['required']").form-control
                            - for(var i = 1; i <= 12; i++)
                                 option= i
            .form-group
                label(for='inputEmail').col-sm-3.control-label Email
                .col-sm-9
                    input(type='email' name='username' id='inputEmail' placeholder='Enter your username'
                          v-model='credentials.username' v-validate:credentials.username="['required']").form-control
            .form-group
                label(for='inputPass').col-sm-3.control-label Password
                .col-sm-9
                    input(type='password' name='password' id='inputPass' placeholder='Enter your password'
                          v-model='credentials.password' v-validate:credentials.password="['required']").form-control
            div
                span(v-show="$validation1.credentials.firstName.required") Required a first name.
                span(v-show="$validation1.credentials.lastName.required") Required a last name.
                span(v-show="$validation1.credentials.gradeLevel.required") Required a grade level.
                span(v-show="$validation1.credentials.username.required") Required a email.
                span(v-show="$validation1.credentials.password.required") Required a password.
            .form-group
                button(type='submit' @click="submit()" v-if="$validation1.valid").col-sm-offset-7.col-sm-4.btn.btn-default Register

//- End Signup form

//- Create Lesson form
mixin createLesson
    .row
        form(novalidate).form-horizontal.col-sm-12
            .form-group
                label(for='lessonNumber').col-sm-3.control-label Lesson Number
                .col-sm-9
                    input(type='text' name='lessonNumber' id='lessonNumber' placeholder='Lesson Number' v-model='lesson.lessonNumber').form-control
            .form-group
                label(for='lessonName').col-sm-3.control-label Lesson Name
                .col-sm-9
                    input(type='text' name='lessonName' id='lessonName' placeholder='Lesson Name' v-model='lesson.lessonName').form-control
            .form-group
                label(for='lessonUnit').col-sm-3.control-label Lesson Unit
                .col-sm-9
                    input(type='text' name='lessonUnit' id='lessonUnit' placeholder='Lesson Unit' v-model='lesson.lessonUnit').form-control
            .form-group
                label(for='lessonSubject').col-sm-3.control-label Lesson Subject
                .col-sm-9
                    input(type='text' name='lessonSubject' id='lessonSubject' placeholder='Lesson Subject' v-model='lesson.lessonSubject').form-control
            .form-group
                label(for='materialsRequired').col-sm-3.control-label Required Materials
                .col-sm-9
                    textarea(rows='3' name='materialsRequired' id='materialsRequired' placeholder='Required Materials' v-model='lesson.materialsRequired').form-control
            .form-group
                label(for='lessonDescription').col-sm-3.control-label Lesson Description
                .col-sm-9
                    textarea(rows='3' name='lessonDescription' id='lessonDescription' placeholder='Lesson Description' v-model='lesson.lessonDescription').form-control
